* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Sedgwick Ave', cursive;
}
 body {
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);

 }
 a {
     text-decoration: none;
     color: inherit;
 }